.GridItemMain {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;        /* test with wrap nowrap */
    flex-direction: row;
    align-items: flex-start;    /* alignment along cross axis - center flex-start flex-end */
    justify-content: center;
}

.Home {
    display: contents;
    color: var(--aboutColor);
}