:root {
    /*Layout colour variables*/
    --layoutColor1: #153448;
    --layoutColor2: #3C5B6F;
    --layoutColor3: #948979;
    --layoutColor4: #DFD0B8;
    
    --color5: antiquewhite;
    --color6: black;
    --color7: #efbc9b;
    --color8: lightgray;
    --color9: steelblue;
    --color10: green;
}